<%= form_with(model: journal_entry, class: "contents") do |form| %>
  <% if journal_entry.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(journal_entry.errors.count, "error") %> prohibited this journal_entry from being saved:</h2>

      <ul>
        <% journal_entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :title,
    placeholder: Date.today.strftime("%B %-d, %Y"),
    class: "block rounded-md border-none focus:outline-none focus:ring-gray-300 w-full text-2xl py-1" %>

  <div class="py-5">
    <%= form.rich_text_area :content,
      placeholder: "What's on your mind?",
      class:"block rounded-md border-none focus:outline-none focus:ring-gray-300 w-full text-2xl py-1" %>
  </div>

  <div class="inline">
    <%= form.submit "Save",
      class: "rounded-lg py-3 px-5 bg-blue-200 inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
