<div class="mb-5 white-panel">
  <div class="flex justify-between">
    <%= link_to journal_entry_path(journal_entry), class: 'flex-grow' do %>
      <div class="mb-5 text-2xl">
        <%= journal_entry.display_title %>
      </div>
    <% end %>

    <%= link_to journal_entry_path(journal_entry),
      data: {
        "turbo-confirm": "Are you sure you want to delete this entry?",
        "turbo-method": :delete
      } do %>
      <i data-feather="trash" class="h-8 w-8"></i>
    <% end %>
  </div>

  <%= link_to journal_entry_path(journal_entry) do %>
    <p>
      <%= journal_entry.content %>
    </p>
  <% end %>
</div>
