<div class="mb-5 white-panel">
  <div class="flex justify-between">
    <%= link_to journal_entry_path(journal_entry), class: 'flex-grow' do %>
      <div class="mb-5 text-2xl">
        <%= journal_entry.display_title %>
      </div>
    <% end %>
    <%= render 'controls', journal_entry: journal_entry %>
  </div>

  <%= link_to journal_entry_path(journal_entry) do %>
    <p>
      <%= journal_entry.content %>
    </p>
  <% end %>
</div>
