<div class="main-panel-container h-screen relative py-5 minimal-scrollbar">
  <div class="sticky-header">
    <div>
      <%= @relationship.name %>
    </div>
    <div class="flex flex-col text-right">
      <%= link_to "Add an entry", new_relationship_summary_path(@relationship) %>
      <%= link_to "AI Summary", new_relationship_summary_path(@relationship) %>
    </div>

  </div>

  <div class="mt-5">
    <% @relationship_summaries.each do |summary| %>
      <% if summary.journal_entry.present? %>
        <%= link_to journal_entry_path(summary.journal_entry) do %>
          <%= render "relationship_summary", summary: summary %>
        <% end %>
      <% else %>
        <%= render "relationship_summary", summary: summary %>
      <% end %>
    <% end %>
  </div>
</div>
