<div class="main-panel-container pl-1.5 sm:pl-0 h-screen relative py-5 minimal-scrollbar">
  <div class="sticky-header items-center">
    <div>
      <%= @relationship.name %>
    </div>
    <div class="flex">
      <%= link_to new_relationship_summary_path(@relationship) do %>
        <div class="flex mr-2 items-center">
          <i data-feather="plus-square" class="base-icon mr-2"></i> Add an entry
        </div>
      <% end %>
      <%= button_to relationship_ai_summary_path(@relationship) do %>
        <div class="flex items-center">
          <i data-feather="zap" class="base-icon mr-2"></i> AI Summary
        </div>
      <% end %>
    </div>
  </div>

  <div class="mt-5">
    <% @relationship_summaries.each do |summary| %>
      <% if summary.journal_entry.present? %>
        <%= link_to journal_entry_path(summary.journal_entry) do %>
          <%= render "relationship_summary", summary: summary %>
        <% end %>
      <% else %>
        <%= render "relationship_summary", summary: summary %>
      <% end %>
    <% end %>
  </div>
</div>
