<!DOCTYPE html>
<html>
  <head>
    <title>AiJournal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="sm:fixed sm:inset-0 sm:mb-10 mobile-portrait:mb-0 bg-gray-100 <%= "animate-slide-down-up" if notice.present? %>">
    <% if notice.present? %>
      <div
        class="flex w-full items-center justify-center h-14 bg-green-200 text-green-600 rounded-b-lg shadow-md"
        id="notice">
        <%= notice %>
      </div>
    <% end %>
    <main class="flex flex-col-reverse sm:flex-row h-screen sm:h-full items-start">
      <nav class="nav-bar">
        <%= link_to root_path, class: "sm:mb-8" do %>
          <%= icon "edit-3" %>
        <% end %>
        <%= link_to journal_entries_path, class: "sm:mb-8" do %>
          <%= icon "book-open" %>
        <% end %>
        <%= link_to relationships_path, class: "sm:mb-8" do %>
          <%= icon "users" %>
        <% end %>
        <%= link_to questions_path, class: "sm:mb-8" do %>
          <%= icon "search" %>
        <% end %>
        <%= link_to core_values_path, class: "sm:mb-8" do %>
          <%= icon "heart" %>
        <% end %>
      </nav>
      <%= yield %>
      <%= render "chat_logs/sidebar" %>
    </main>
  </body>
</html>
