<!DOCTYPE html>
<html>
  <head>
    <title>AiJournal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body
    class="fixed inset-0 bg-gray-100 mb-10 <%= "animate-slide-down-up" if notice.present? %>"
    data-controller="feather-icons">
    <% if notice.present? %>
      <div
        class="flex w-full items-center justify-center h-14 bg-green-200 text-green-600 rounded-b-lg shadow-md"
        id="notice">
        <%= notice %>
      </div>
    <% end %>
    <main class="flex h-full items-start">
      <div class="flex flex-col h-full my-5 mr-5 p-5 w-20 items-center bg-white rounded-r-lg shadow-md">
        <%= link_to root_path, class: "mb-8" do %>
          <i data-feather="edit-3" class="h-8 w-8"></i>
        <% end %>
        <%= link_to journal_entries_path, class: "mb-8" do %>
          <i data-feather="book-open" class="h-8 w-8"></i>
        <% end %>
        <%= link_to people_path, class: "mb-8" do %>
          <i data-feather="users" class="h-8 w-8"></i>
        <% end %>
      </div>
      <%= yield %>
      <%= render "chat_logs/sidebar" %>
    </main>
  </body>
</html>
