<!DOCTYPE html>
<html>
  <head>
    <title>AiJournal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="fixed inset-0 bg-gray-100 mb-10 <%= "animate-slide-down-up" if notice.present? %>">
    <% if notice.present? %>
      <div
        class="flex w-full items-center justify-center h-14 bg-green-200 text-green-600 rounded-b-lg shadow-md"
        id="notice">
        <%= notice %>
      </div>
    <% end %>
    <main class="flex h-full items-start">
      <div class="flex flex-col h-full my-5 mr-5 p-5 w-20 items-center bg-white rounded-r-lg shadow-md">
        <%= link_to root_path, class: "mb-8" do %>
          <i data-feather="edit-3" class="h-8 w-8"></i>
        <% end %>
        <%= link_to journal_entries_path, class: "mb-8" do %>
          <i data-feather="book-open" class="h-8 w-8"></i>
        <% end %>
      </div>
      <%= yield %>
      <div
        data-controller="ai-menu"
        class="h-full my-5 ml-5 p-5 transition-all w-20 item-center bg-white rounded-l-lg shadow-md">
        <i data-feather="message-square"
           data-ai-menu-target="button"
           class="h-8 w-8 mb-8"></i>
        <div class="transition-opacity opacity-0 text-clip overflow-hidden whitespace-nowrap" data-ai-menu-target="content">
          <div class="user-chat-bubble">
            Hi, Ai. I need help journaling
          </div>
          <div class="ai-chat-bubble">
            Hi, I'm Ai. I'm here to help you journal.
          </div>
          <div class="user-chat-bubble">
            What are you thoughts on journaling?
          </div>
          <div class="ai-chat-bubble">
            I think journaling is a great way to reflect on your day.
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
